.randomColor {
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18vw;
  font-weight: bolder;
  border-style: solid;
  border-width: 5vh;
}
.randomColor p {
  margin: 0;
  padding: 3vh;
}